<%= form_for(@sensor_error) do |f| %>
  <% if @sensor_error.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor_error.errors.count, "error") %> prohibited this sensor_error from being saved:</h2>

      <ul>
      <% @sensor_error.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sensorID %><br>
    <%= f.text_field :sensorID %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :occurredAt %><br>
    <%= f.datetime_select :occurredAt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
