<%= form_for(@humidity) do |f| %>
  <% if @humidity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@humidity.errors.count, "error") %> prohibited this humidity from being saved:</h2>

      <ul>
      <% @humidity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sensorID %><br>
    <%= f.text_field :sensorID %>
  </div>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label :measuredAt %><br>
    <%= f.datetime_select :measuredAt %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
