<p id="notice"><%= notice %></p>

<h1>Listing Humidities</h1>

<table>
  <thead>
    <tr>
      <th>Sensor ID</th>
      <th>Value</th>
      <th>Measured At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @humidities.each do |humidity| %>
      <tr>
        <td><%= humidity.sensorID %></td>
        <td><%= humidity.value %></td>
        <td><%= humidity.measuredAt %></td>
        <td><%= link_to 'Show', humidity %></td>
        <td><%= link_to 'Edit', edit_humidity_path(humidity) %></td>
        <td><%= link_to 'Destroy', humidity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Humidity', new_humidity_path %>
